.header__top{
    padding: 10px 0px; 
    background-color: #000d6b;
    color: #fff;
}

.header__top__left{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.header__top__left span {
    font-size: 0.9rem;
}

.header__top__help {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}

.header__top__help i{
    background: #fff;
    color: #000d6b;
    padding: 2px 4px;
    border-radius: 50px;
    font-size: 0.7rem;
}

.header__top__right a{
    color: #fff;
    text-decoration: none;
    font-size: .9rem;   
}

.header__top__right a:hover {
    color: #fff;    
}